@import '../styles/variables';

.modals-modal {
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  height: 100vh;
  background: #ffffff;
  max-width: 100%;
  .modal-content{
    border: none;
  }
}





