@import '../styles/variables';

.modals-modal {
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  height: 100vh;
  background: #ffffff;
  max-width: 100%;
  .modal-content{
    border: none;
  }
}


.carousel-indicators {
  z-index: 15;
  display: flex;
  bottom: 0;
  margin-right: 0;
  margin-left: 0;
  list-style: none;

  li {
    position: relative;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
    text-indent: -999px;
    background-color: $title;
  }
  li.active{
    background: #FFEF35;
  }

}

.carousel-control-next,
.carousel-control-prev{
  width: 8%;
}





