@import '../styles/variables';

.carousel-indicators {
  z-index: 15;
  display: flex;
  margin-right: 0;
  margin-left: 0;
  bottom: -30px;
  list-style: none;

  li {
    position: relative;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 15px;
    text-indent: -999px;
    background-color: $title;
  }
  li.active{
    background: #FFEF35;
  }
}
.carousel-control-next,
.carousel-control-prev{
  width: 8%;
}
.carousel-caption{
  padding: 0;
}
.hide-bottom-btn{
  .carousel-indicators{
    display: none;
  }
}

