<div class="container">
  <div class="header_inner">
    <nav class="menu">
      <ul class="menu_list">
        <li class="menu_list-item">
          <a class="menu_list-link menu_list-link-active" routerLink="/about">About</a>
        </li>
        <li class="menu_list-item">
          <a class="menu_list-link" routerLink="/gallery">Gallery</a>
        </li>
      </ul>
    </nav>
    <a class="logo" routerLink="">
      <div class="logo-icon"></div>
    </a>
    <nav class="menu">
      <ul class="menu_list">
        <li class="menu_list-item">
          <a class="menu_list-link" routerLink="/blog">Blog</a>
        </li>
        <li class="menu_list-item">
          <a class="menu_list-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="btn header_btn">
      <div class="menu-icon" (click)="openModal()"></div>
    </button>
  </div>
</div>
