<div class="container">
  <div class="header_inner">
    <nav class="menu">
      <ul class="menu_list">
        <li class="menu_list-item">
          <a class="menu_list-link" href="#">About</a>
        </li>
        <li class="menu_list-item">
          <a class="menu_list-link" href="#">Gallery</a>
        </li>
      </ul>
    </nav>
    <a class="logo" href="#">
      <div class="logo-icon"></div>
    </a>
    <nav class="menu">
      <ul class="menu_list">
        <li class="menu_list-item">
          <a class="menu_list-link" href="#">Blog</a>
        </li>
        <li class="menu_list-item">
          <a class="menu_list-link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="btn header_btn">
      <div class="menu-icon"></div>
    </button>
  </div>
</div>
