@import '../../_variables';

.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header_btn{
  background-color: transparent;
  border: none;
  padding: 0;
  .menu-icon{
    background: url("../../images/icon_menu.svg");
    width: 37px;
    height: 29px;
  }
}

.logo{
  margin: 0 auto;
  .logo-icon{
    background: url("../../images/logo.png");
    width: 97px;
    height: 31px;
    display: block;
  }
}

.menu{
  padding-left: 15px;
  &_list{
    display: flex;
  }
  &_list-item{
    padding-right: 45px;
    padding-left: 35px;
  }
  &_list-link{
    @extend %title-font;
    color: rgba(54, 56, 56, 0.9);
    line-height: 22px;
  }
}

