<div class="footer-content">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-info">
        <h6 class="footer-info-title">
          Contact Us
        </h6>
        <p class="footer-info-text">
          Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
        </p>
        <a class="footer-info-email" href="mailto:ouremailaddress@email.com">
          ouremailaddress@email.com
        </a>
        <form class="footer-form">
          <input class="footer-form-input" type="email" placeholder="Subscribe by email">
          <button class="footer-form-button" type="submit">Send</button>
        </form>
      </div>
      <ul class="footer-social">
        <li class="footer-social-item">
          <a class="footer-social-link footer-social-link--Facebook" href="">Facebook</a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link footer-social-link--Instagram" href="">Instagram</a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link footer-social-link--Pinterest" href="">Pinterest</a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link footer-social-link--WhatsApp" href="">WhatsApp</a>
        </li>
        <li class="footer-social-item">
          <a class="footer-social-link footer-social-link--Youtube" href="">Youtube</a>
        </li>
      </ul>
      <nav class="footer-menu">
        <ul class="footer-menu-list">
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#">Delivery</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#">FAQ</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#">Help</a>
          </li>
          <li class="footer-menu-item">
            <a class="footer-menu-link" href="#">More About Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    674 Gonzales Drive.   Washington, PA 15301
  </div>
</div>
