@import '../../_variables';

.footer-content{
  background: #DFDFDF;
  padding: 60px 0 80px;
  .footer-inner{
    display: flex;
    justify-content: space-between;
  }
}
.footer-info{
  width: 540px;
}
.footer-info-title{
  color: $title;
  @extend %title-font;
  margin-bottom: 14px;
  line-height: 23px;
}
.footer-info-text{
  margin-bottom: 16px;
}
.footer-copyright{
  background-color: $title;
  color: #A1A1A1;
  text-align: center;
  padding: 42px 0 41px;
}

