<div class="container">
  <div class="blog-box">
    <h3 class="blog-box-title">
      More inspiration ideas in our blog
    </h3>
    <div class="blog-box-items">
      <div class="blog-box-item">
        <a class="blog-box-img-link" href="#">
          <img class="blog-box-img" src="../../assets/images/blog/1.jpg" alt="">
        </a>
        <div class="blog-box-links">
          <span class="blog-box-date">March 12, 2020</span> |
          <a class="blog-box-author" href="#">by Ann Summers</a> |
          <a class="blog-box-theme" href="#">Interior</a>
        </div>
        <a class="blog-box-item-title-link" href="#">
          <h4 class="blog-box-item-title">
            Listicle actually selvage activated charcoal for the drinking vinegar
          </h4>
        </a>
      </div>
      <div class="blog-box-item">
        <a class="blog-box-img-link" href="#">
          <img class="blog-box-img" src="../../assets/images/blog/2.jpg" alt="">
        </a>
        <div class="blog-box-links">
          <span class="blog-box-date">September 28,2020</span> |
          <a class="blog-box-author" href="#">by Finnagan Morningstar</a> |
          <a class="blog-box-theme" href="#">Dining room interior</a>
        </div>
        <a class="blog-box-item-title-link" href="#">
          <h4 class="blog-box-item-title">
            Red selfies edison bulb four dollar toast humblebrag
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>
