@import '../styles/variables';

.container-fluid{
  max-width: 1912px;
  margin: 0 auto;
  padding: 0 10px;
  display: block;
  text-align: center;
  .new-collection-title{
    color: $title;
    @extend %title-font;
    margin-top: 30px;
    font-size: 36px;
    padding: 25px;
    margin-bottom: 24px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 252px;
      height: 1px;
      background: #6D7278;
    }
  }
  .new-collection-text{
    max-width: 730px;
    margin: 0 auto 50px;
  }
  .collection-img{
    width: 100%;
    padding: 0 15px;
  }
  .collection-carousel{
    margin: 0 auto 104px;
  }
  .carousel-caption{
    position: inherit;
    &:hover {
      .collection-info {
        opacity: 1;
      }
    }
    .collection-info{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(#fff, .7);
      opacity: 0;
      transition: all .5s;
      .collection-info-title{
        color: $title;
        @extend %title-font;
        font-size: 20px;
        line-height: 25px;
        position: relative;
        padding-bottom: 19px;
        margin-bottom: 19px;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
          width: 200px;
          height: 1px;
          background: #6D7278;
        }
      }
      .collection-info-text{
        font-weight: 600;
        font-size: 14px;
        color: #707070;
      }
    }
  }
}
