<section class="new-collection">
  <div class="container-fluid">
    <h3 class="new-collection-title">
      Furniture new collection
    </h3>
    <p class="new-collection-text">
      Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
    </p>
    <div class="collection">
      <carousel [itemsPerSlide]="itemsPerSlide"
                [singleSlideOffset]="singleSlideOffset"
                [startFromIndex]="4"
                [interval]=0>
        <slide *ngFor="let slide of slides; let index=index">
          <img class="collection-img" [src]="slide.image">
          <div class="carousel-caption">
            <h4 class="collection-title">Slide {{index}}</h4>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</section>
