<section class="inspiration">
  <div class="container">
    <div class="inspiration-inner">
      <img class="inspiration-images" src="../../assets/images/about/Green_chair.png" alt="images">
      <div class="inspiration-content">
        <h3 class="inspiration-title">
          Our Inspiration in details
        </h3>
        <p class="inspiration-text">
          Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth helvetica jean shorts. Fanny pack church-key cornhole, banh mi thundercats gochujang keytar.
        </p>
        <ul class="inspiration-list">
          <li class="inspiration-item">
            <div class="inspiration-item-content">
              <p class="inspiration-item-content-text">Design and technical drawings</p>
              <p class="inspiration-item-content-num">80%</p>
            </div>
            <div class="inspiration-line" style="width: 80%;"></div>
          </li><li class="inspiration-item">
            <div class="inspiration-item-content">
              <p class="inspiration-item-content-text">Measurments</p>
              <p class="inspiration-item-content-num">70%</p>
            </div>
            <div class="inspiration-line" style="width: 70%;"></div>
          </li><li class="inspiration-item">
            <div class="inspiration-item-content">
              <p class="inspiration-item-content-text">Furniture functionality analysis</p>
              <p class="inspiration-item-content-num">75%</p>
            </div>
            <div class="inspiration-line" style="width: 75%;"></div>
          </li><li class="inspiration-item">
            <div class="inspiration-item-content">
              <p class="inspiration-item-content-text">Interior visualization</p>
              <p class="inspiration-item-content-num">40%</p>
            </div>
            <div class="inspiration-line" style="width: 40%;"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
