<div class="main">
  <section class="top">
    <div class="top-inner">
      <carousel  [isAnimated]="true">
        <slide>
          <div class="top-slider-item">
            <div class="top-slider-img"></div>
            <div class="top-slider-info">
              <h2 class="top-slider-title">
                Furniture
                collection
              </h2>
              <p class="top-slider-text">
                Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
              </p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="top-slider-item">
            <div class="top-slider-img"></div>
            <div class="top-slider-info">
              <h2 class="top-slider-title">
                Deep you
                probably
              </h2>
              <p class="top-slider-text">
                Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
              </p>
            </div>
          </div>
        </slide>
        <slide>
          <div class="top-slider-item">
            <div class="top-slider-img"></div>
            <div class="top-slider-info">
              <h2 class="top-slider-title">
                Furniture
                collection
              </h2>
              <p class="top-slider-text">
                Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
              </p>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </section>
</div>
