<div class="post-nav">
  <a href="#" class="post-prev post-nav-link">Post previous</a>
  <a href="" class="post-next post-nav-link">Post next</a>
</div>
<div class="post-comments">
  <h4 class="post-comments-title">
    Comments:
  </h4>
  <div class="post-comments-item">
    <img class="post-comments-avatar" src="../../assets/images/content/avatar.jpg" alt="avatar">
    <div class="post-comments-info">
      <p class="post-comments-name">
        Lea Brown
      </p>
      <p class="post-comments-date">
        August 12, 2020
      </p>
      <p class="post-comments-text">
        Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick
        coloring book. Semiotics man bun venmo viral cliche
      </p>
    </div>
    <button class="post-reply">Reply</button>
  </div>
</div>
<form class="post-comments-form">
  <h4 class="post-comments-form-title">
    Post a Comment
  </h4>
  <textarea class="post-comments-form-textarea" placeholder="Your comment" ></textarea>
  <input class="post-comments-form-input" type="text" placeholder="Your name">
  <input class="post-comments-form-input" type="email" placeholder="Your e-mail">
  <label class="post-comments-form-label">
    <input class="post-comments-form-labelinput" type="checkbox" >
    Remember me
  </label>
  <button class="post-comments-form-btr" type="submit">Submit</button>
</form>
