<div class="partners">
    <div class="partners-items">
      <img class="partners-item" src="../../assets/images/about/Partner1.svg" alt="">
      <img class="partners-item" src="../../assets/images/about/Partner2.svg" alt="">
      <img class="partners-item" src="../../assets/images/about/Partner1.svg" alt="">
      <img class="partners-item" src="../../assets/images/about/Partner2.svg" alt="">
      <img class="partners-item" src="../../assets/images/about/Partner1.svg" alt="">
    </div>
</div>
