@import '../styles/variables';

.post{
  padding-bottom: 50px;
  .blog-item-img{
    max-width: 794px;
    margin-bottom: 24px;
  }
  .post-item {
    color: #707070;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 9px;
    .post-date,
    .post-author {
      color: inherit;
    }
  }
  .post-title{
    color: $title;
    @extend %title-font;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 6px;
  }
  .post-info{
    font-size: 16px;
    line-height: 27px;
  }
}
.quote{
  margin: 72px 0 50px;
  padding: 54px 65px;
  text-align: center;
  background: rgba(#DFDFDF, .5);
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 38px;
  .quote-author{
    color: $title;
    @extend %title-font;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    padding-top: 23px;
    margin-top: 23px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto;
      max-width: 200px;
      height: 1px;
      background: #979797;
    }
  }
}
.post-carousel{
  margin-top: 50px;
  .post-carousel-img-wrapper{
    max-width: 794px;
    margin-bottom: 24px;
  }
  .post-carousel-item {
    color: #707070;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 9px;
    .post-carousel-data,
    .post-carousel-author {
      color: inherit;
    }
  }
  .post-carousel-title{
    color: $title;
    @extend %title-font;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 6px;
  }
  .post-carousel-info{
    font-size: 16px;
    line-height: 27px;
  }
}
.blog-video {
  padding-bottom: 90px;
  .blog-video-popup {
    background-image: url("../../assets/images/blog/blog-video.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  .blog-video-item {
    color: #707070;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 9px;

    .blog-video-data,
    .blog-video-author {
      color: inherit;
    }
  }

  .blog-video-title {
    color: $title;
    @extend %title-font;
    font-size: 24px;
    line-height: 38px;
  }
}
