<div class="gallery">
  <div class="container-fluid">
    <tabset>
      <tab heading="Bedroom furniture">
        <div class="gallery-items">
          <a class="gallery-item">
            <img src="../../assets/images/gallery/2.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/1.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/4.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/3.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/5.jpg" alt="images">
          </a>
        </div>
      </tab>
      <tab heading="Living room furniture" [active]="true">
        <div class="gallery-items">
          <a class="gallery-item">
            <img src="../../assets/images/gallery/1.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/2.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/3.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/4.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/5.jpg" alt="images">
          </a>
        </div>
      </tab>
      <tab heading="Office furniture">
        <div class="gallery-items">
          <a class="gallery-item">
            <img src="../../assets/images/gallery/5.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/3.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/4.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/1.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/2.jpg" alt="images">
          </a>
        </div>
      </tab>
      <tab heading="Dining room furniture">
        <div class="gallery-items">
          <a class="gallery-item">
            <img src="../../assets/images/gallery/4.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/3.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/5.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/2.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/1.jpg" alt="images">
          </a>
        </div>
      </tab>
      <tab heading="Chair">
        <div class="gallery-items">
          <a class="gallery-item">
            <img src="../../assets/images/gallery/3.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/2.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/1.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/4.jpg" alt="images">
          </a>
          <a class="gallery-item">
            <img src="../../assets/images/gallery/5.jpg" alt="images">
          </a>
        </div>
      </tab>
    </tabset>



<!--      <div class="gallery-inner">-->

<!--      -->
<!--      -->
<!--    </div>-->
  </div>
</div>
