<div class="works">
  <div class="container">
    <h3 class="works-title">
      How it works
    </h3>
    <div class="works-items">
      <div class="works-items-box">
        <div class="works-item works-item-consultation">
          <img class="works-itm-img" src="../../assets/images/works-img1.svg" alt="icon">
          <h6 class="works-item-title">Designer Consultation</h6>
          <p class="works-item-text">Kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche</p>
        </div>
        <div class="works-item works-item-production">
          <img class="works-itm-img" src="../../assets/images/works-img2.svg" alt="icon">
          <h6 class="works-item-title">Production</h6>
          <p class="works-item-text">Everyday carry actually neutra authentic kogi shabby chic</p>
        </div>
      </div>
      <div class="works-item works-item-measurements">
        <img class="works-itm-img" src="../../assets/images/works-img3.svg" alt="icon">
        <h6 class="works-item-title">Measurements</h6>
        <p class="works-item-text">Intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche</p>
      </div>
    </div>
  </div>
</div>

