@import '../styles/variables';

.quote{
  margin: 72px 0 50px;
  padding: 54px 65px;
  text-align: center;
  background: rgba(#DFDFDF, .5);
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 38px;
  .quote-author{
    color: $title;
    @extend %title-font;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    padding-top: 23px;
    margin-top: 23px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: 0 auto;
      max-width: 200px;
      height: 1px;
      background: #979797;
    }
  }
}
