@import '../styles/variables';
.blog-video {
  padding-bottom: 38px;
  .blog-video-popup {
    background-image: url("../../assets/images/blog/blog-video.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  .blog-video-item {
    color: #707070;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 9px;

    .blog-video-data,
    .blog-video-author {
      color: inherit;
    }
  }

  .blog-video-title {
    color: $title;
    @extend %title-font;
    font-size: 24px;
    line-height: 38px;
  }
}
