<div class="blog-video">
  <div class="blog-video-popup">
    <a class="blog-video-popup-play" href="#">
      <img class="blog-video-imgbtn" src="../../assets/images/play_button.svg" alt="play button">
    </a>
  </div>
  <div class="blog-video-item">
    <span class="blog-video-data">August 12, 2020</span> |
    <a class="blog-video-author" href="#">by Lux Morningstar</a> |
    <a class="blog-video-author" href="#">Design</a>
  </div>
  <a href="#">
    <h3 class="blog-video-title">
      Authentic kogi shabby chic
    </h3>
  </a>
</div>

