<div class="post-aside">
  <div class="container" style="display: flex; padding-top: 60px; padding-bottom: 100px" >
    <div class="posts-items">
      <div class="row">
        <div class="col-xs-12 col-12">
          <div class="content-wrapper">
            <div *ngFor="let post of posts">
              <app-post [post]="post"></app-post>
            </div>
          </div>
<!--          <pagination [totalItems]="contentArray.length" (pageChanged)="pageChanged($event)"-->
<!--                      [itemsPerPage]="itemsPerPage">-->
<!--          </pagination>-->
        </div>
      </div>

    </div>
    <app-aside></app-aside>
  </div>
</div>

