<aside class="aside">
  <div class="blog-inner">
    <form class="aside-search">
      <input class="aside-search-input" type="text" placeholder="Search...">
      <button class="aside-search-btn" type="submit">
        <img class="" src="../../assets/images/blog/search-btn.svg" alt="search icon">
      </button>
    </form>
    <div class="blog-category">
      <h6 class="blog-category-title">
        Categories
      </h6>
      <ul class="blog-category-list">
        <li class="blog-category-item">
          <a class="blog-category-item" href="#">Dining room (1)</a>
        </li>
        <li class="blog-category-item">
          <a class="blog-category-item" href="#">Office furniture (12)</a>
        </li>
        <li class="blog-category-item">
          <a class="blog-category-item" href="#">Simple interiror design (2)</a>
        </li>
        <li class="blog-category-item">
          <a class="blog-category-item" href="#">Design (4)</a>
        </li>
        <li class="blog-category-item">
          <a class="blog-category-item" href="#">Bedroom Furniture (1)</a>
        </li>
      </ul>
    </div>
    <div class="recent-posts">
      <h6 class="recent-posts-title">
        Recent Posts
      </h6>
      <ul class="recent-posts-list">
        <li class="recent-posts-item">
          <a class="recent-posts-item-title" href="#">Cred selfies edison bulb four dollar toast humblebrag</a>
          <span class="recent-posts-data">August 10, 2020</span> |
          <a class="recent-posts-author" href="#">by Ann Summers</a>
        </li>
        <li class="recent-posts-item">
          <a class="recent-posts-item-title" href="#">Semiotics fixie four dollar toast, next level woke scenester direct trade photo booth</a>
          <span class="recent-posts-data">September 30 ,2020</span> |
          <a class="recent-posts-author" href="#">by Ann Summers</a>
        </li>
        <li class="recent-posts-item">
          <a class="recent-posts-item-title" href="#">Cred selfies edison bulb four dollar toast humblebrag</a>
          <span class="recent-posts-data">May 2, 2020</span> |
          <a class="recent-posts-author" href="#">by Ann Summers</a>
        </li>
      </ul>
    </div>
    <div class="blog-tags">
      <h6 class="blog-tags-title">
        Tags
      </h6>
      <a class="blog-tags-link" href="#">Dining room futniture</a>
      <a class="blog-tags-link" href="#">Chair</a>
      <a class="blog-tags-link" href="#">Table</a>
      <a class="blog-tags-link" href="#">Bedroom</a>
      <a class="blog-tags-link" href="#">Office Furniture</a>
    </div>
    <div class="blog-social">
      <ul class="blog-social-list">
        <li class="blog-social-item">
          <a class="blog-social-link" href="#">
            <img class="blog-social-images" src="../../assets/images/facebook.svg" alt="Facebook">
          </a>
        </li>
        <li class="blog-social-item">
          <a class="blog-social-link" href="#">
            <img class="blog-social-images" src="../../assets/images/instagram.svg" alt="Instagram">
          </a>
        </li>
        <li class="blog-social-item">
          <a class="blog-social-link" href="#">
            <img class="blog-social-images" src="../../assets/images/Pinterest.svg" alt="Pinterest">
          </a>
        </li>
        <li class="blog-social-item">
          <a class="blog-social-link" href="#">
            <img class="blog-social-images" src="../../assets/images/whatsapp.svg" alt="WhatsApp">
          </a>
        </li>
        <li class="blog-social-item">
          <a class="blog-social-link" href="#">
            <img class="blog-social-images" src="../../assets/images/youtube.svg" alt="Youtube">
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
