@import '../styles/variables';

.blog-inner{
  justify-content: space-between;
  position: sticky;
}
.aside {
  //position: sticky; фиксация к top 10px
  //top: 10px;
  max-width: 350px;
  margin-left: 30px;
  .aside-search {
    position: relative;
    margin-bottom: 40px;
  }
  .aside-search-input {
    padding: 6px 45px 6px 18px;
    border: 1px solid rgba($title, .7);
    border-radius: 20px;
    display: block;
    width: 100%;
    &::placeholder {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      color: #A1A1A1;
    }
  }
  .aside-search-btn{
    border: none;
    background-color: transparent;
    position: absolute;
    top: 6px;
    right: 13px;
  }
}
.blog-social-list{
  display: flex;
  margin-bottom: 20px;
}
.blog-social-item + .blog-social-item{
  padding-left: 20px;
}
.blog-category {
  margin-bottom: 48px;
}
.blog-category-title{
  color: $title;
  @extend %title-font;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 14px;
}
.blog-category-item{
  margin-bottom: 11px;
}
.blog-category-item,
.recent-posts-item-title{
  color: $default;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 27px;
}
.recent-posts-title{
  color: $title;
  @extend %title-font;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 24px;
}
.recent-posts-list{
  margin-bottom: 50px;
}
.recent-posts-item{
  color: #A1A1A1;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 11px;
  .recent-posts-item-title{
    display: block;
    margin: 0;
  }
  .recent-posts-data,
  .recent-posts-author{
    color: inherit;
  }
}
.blog-tags-title{
  margin-bottom: 12px;
  color: $title;
  @extend %title-font;
  font-size: 16px;
  line-height: 23px;
}
.blog-tags{
  margin-bottom: 50px;
}
.blog-tags-link{
  color: #8F8D8D;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  border: 1px solid rgba(#454647, .5);
  border-radius: 14px;
  padding: 0px 16px;
  margin-right: 10px;
  margin-bottom: 10px;

}



