<section class="contact">
  <div class="container">
    <h3 class="contact-title">
      Contact Us
    </h3>
    <ul class="contact-social">
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/facebook.svg" alt="Facebook">
        </a>
      </li>
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/instagram.svg" alt="Instagram">
        </a>
      </li>
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/Pinterest.svg" alt="Pinterest">
        </a>
      </li>
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/whatsapp.svg" alt="WhatsApp">
        </a>
      </li>
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/youtube.svg" alt="Youtube">
        </a>
      </li>
    </ul>
    <div class="contact-address">
      <p class="contact-text">
        Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin coffee street art. Viral shaman mustache master cleanse, pour-over affogato poutine copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock
      </p>
      <a class="contact-phone" href="tel:+14158297934">(415) 829-7934</a>
      <div class="contact-st">725 Green St</div>
      <div class="contact-city">San Francisco, California(CA), 94133</div>
      <a class="info-email" href="mailto:ouremailaddress@email.com">
        ouremailaddress@email.com
      </a>
    </div>
    <form class="contact-form">
      <input class="contact-form-input" placeholder="Your name" type="text">
      <input class="contact-form-input" placeholder="Your email" type="email">
      <textarea class="contact-form-area" placeholder="Your message"></textarea>
      <button class="contact-form-btn" type="submit">Send</button>
    </form>
  </div>
</section>
