<section class="contact">
  <div class="container">
    <h3 class="contact-title">

    </h3>
    <ul class="contact-social">
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/facebook.svg" alt="Facebook">
        </a>
      </li>
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/instagram.svg" alt="Instagram">
        </a>
      </li>
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/Pinterest.svg" alt="Pinterest">
        </a>
      </li>
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/whatsapp.svg" alt="WhatsApp">
        </a>
      </li>
      <li class="contact-social-item">
        <a class="contact-social-link" href="#">
          <img class="contact-social-images" src="../../assets/images/youtube.svg" alt="Youtube">
        </a>
      </li>
    </ul>
    <a class="contact-phone" href="tel:+14158297934">(415) 829-7934</a>
    <div class="contact-st">725 Green St</div>
    <div class="contact-city">San Francisco, California(CA), 94133</div>
    <a class="info-email" href="mailto:ouremailaddress@email.com">
      ouremailaddress@email.com
    </a>

  </div>
</section>
