@import 'app/styles/variables';

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: $default;
}

.container{
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd
a{
  margin: 0;
  font-size: inherit;
  padding: 0;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

