@import '../styles/variables';

.top{
  .top-inner{
    padding-bottom: 70px;
    position: relative;
    &::after{
      content: '';
      background-image: url("../../assets/images/content/slider-dg.jpg");
      position: absolute;
      width: 100%;
      height: 722px;
      top: 0;
      z-index: -1;
    }
  }
  .top-slider-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-slider-img{
    margin-left: -220px;
    background: url("../../assets/images/content/slider-img.png");
    width: 703px;
    height: 815px;
    object-fit: cover;
  }
  .top-slider-info{
    max-width: 645px;
  }
  .top-slider-title{
    color: $title;
    @extend %title-font;
    font-size: 110px;
    line-height: 135px;
    padding-bottom: 26px;
    margin-bottom: 26px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 185px;
      height: 1px;
      background: #6D7278;
    }
  }
}
