<app-top-main></app-top-main>
<section class="new-collection">
  <div class="container-fluid">
    <h3 class="new-collection-title">
      Furniture new collection
    </h3>
    <p class="new-collection-text">
      Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint
    </p>
  </div>
</section>
<app-carousel [slides]="slides" [itemsPerSlide]="itemsPerSlide" [hideBottomIndicator]="true"></app-carousel>
<app-decor-main></app-decor-main>
<app-works-main></app-works-main>
<app-gallery-main></app-gallery-main>
<app-blog-box></app-blog-box>
